* {
    margin: 0;
}

html, body {
    height: 100%;
}

#appdiv {
    display: flex;
    justify-content: space-around;
}

a {
    color: black;
    text-decoration: underline;
}

#command-divs div {
}

.blue-card {
    --bulma-card-background-color: darkslateblue;
}

.grey-card {
    --bulma-card-background-color: darkslategrey;
}

